/****************************************************************  1199px  ******************************************/
@media(max-width: 1199px) {
	 header .wrapper{ 
	 	max-width: 970px;
	 	width: 100%;
	 	margin: 0 auto;
	 }
	.hdr_menu>ul li{
		margin: 0 10px;
	}
	section#destruction_main img{
		max-width: 600px;
	}
	section#destruction_main .item{
		max-height: 670px;
	}
	.able_car{
		left: -webkit-calc(50% - 485px);
		left: calc(50% - 485px);
	}
	.item_left h1{
		font-size: 42px;
	}
	.ftr_menu{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	footer hr{
		margin: 25px auto;
		width: 100%;
		max-width: 100%;
	}
	.ftr_social{
		margin-top: 25px;
	}
	.ftr_menu{
		padding: 0;
	}
	.ftr_menu ul{
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
		width: 100%;
	}
	.ftr_menu ul li{
		margin-right: 0;
	}
	.news_main{
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
	}
	.news_main_item{
		margin-left: 15px;
		margin-right: 15px;
	}
	section#number_warranty .container h3{
		font-size: 54px;
	}
	section#number_warranty .container h3 p{
		font-size: 54px;
	}
	section#number_warranty .let span{
		line-height: 1;
	}
	section#number_warranty .plus_otz span{
		bottom: -10px;
	}
	section#number_warranty .nasek span{
		line-height: 1;
	}
	section#number_warranty .recom_pr span.first_rec{
		top: 3px;
	}
}

/****************************************************************  1023px  ******************************************/
@media(max-width: 1023px) {
	.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
		left: 50%;
		right: auto;
		transform: translateX(-50%);
		box-shadow: 0px 5px 10px rgba(1,1,1,.25);
	}
	.nasek{
		display: none;
	}
	ul.dropdown_body{
		position: relative;
		padding-left: 15px;
		top: 0;
	}
	.hamburger{
		display: block;
		margin-left: 45px;
		z-index: 21;
		position: relative;
		cursor: pointer;
	}
	.hdr_rght{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.hamburger span{
		height: 4px;
		background-color: #fff;
		margin: 5px 0;
		width: 35px;
		display: block;
		-webkit-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}
	header.active .hamburger span:nth-child(1){
		-webkit-transform: rotate(-45deg) translateY(12.5px) ;
		    -ms-transform: rotate(-45deg) translateY(12.5px) ;
		        transform: rotate(-45deg) translateY(12.5px) ;
	}
	header.active .hamburger span:nth-child(3){
		-webkit-transform: rotate(45deg) translateY(-12.5px) ;
		    -ms-transform: rotate(45deg) translateY(-12.5px) ;
		        transform: rotate(45deg) translateY(-12.5px) ;
	}
	header.active .hamburger span:nth-child(2){
		opacity: 0;
	}
	
	.hdr_menu{
		position: fixed;
		z-index: 20;
		left: 0;
		right: 0;
		opacity: 0;
		-webkit-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
		        transform: translateX(-100%);
		top: 0;
		bottom: 0;
		background-color: rgba(1,1,1,.7);
		-webkit-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;

	}
	header.active .hdr_menu{
		opacity: 1;
		-webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		        transform: translateX(0);
	}

	.hdr_menu>ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 250px;
		height: 100vh;
		padding: 25px;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		padding-top: 15vh;
		background-color: #031e58;
		box-shadow: 0 0 10px rgba(1,1,1,.4);
	}

	.hdr_menu>ul li a{
		font-size: 20px;
		line-height: 2;
		color: #fff;
		font-weight: bolder;
	}
	.hdr_menu>ul li a:hover{
		/*color: #BFAA0D;*/
	}

}

 
/****************************************************************  767px  ******************************************/
@media(max-width: 767px) {
	header .wrapper{
		padding: 10px;
	}
	.item_left .container{
		text-align: center;
	}
	.item_left .container .item_left p{
		text-align: left;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
	    padding: 5px 20px 5px 20px;
	}

}
















/****************************************************************  767px  ******************************************/
